@media screen and (min-width: 480px) {
	
	nav {
		background: none;
		float: center;
		font-size: 1.5em;
		text-align: center;
		width: 100%;
	}
}


	/*************************
	Margin Calculation Ex.
	3 * 5 = 15 
	100% - 15% = 85%
	85 / 3 = 28.3333
	*************************/







	


@media screen and (min-width: 660px) {
	
	/*************************
	Header
	*************************/

	nav {
		background: none;
		float: center;
		font-size: 2.5em;
		text-align: center;
		width: 100%;
	}

	#logo {
		margin-left: 5%;
		text-align: center;
		width: 45%;
	}

	h1 {
		font-size: 5em;
	}


	header {
		margin-bottom: 0px;
	}



}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 6em;
	}
}

@media screen and (min-width: 1024px) {
	h1 {
		font-size: 7em;
	}
}

@media screen and (min-width: 1200px) {
	h1 {
		font-size: 9.75em;
	}
}










