@media screen and (min-width: 480px) {
	
	nav {
		background: none;
		float: center;
		font-size: 1.5em;
		text-align: center;
		width: 100%;
	}


	/*************************
	Two Column layout
	*************************/

	#primary {
		width: 50%;
		float: left;
	}

	#secondary {
		width: 40%;
		float: right;
	}


	/*************************
	Margin Calculation Ex.
	3 * 5 = 15 
	100% - 15% = 85%
	85 / 3 = 28.3333
	*************************/


	/*************************
	PAGE: PORTFOLIO
	*************************/

	#gallery li {
		width: 28.3333%;
	}

	#gallery li:nth-child(4n) {
		clear: left;
	}


	/*************************
	PAGE: ABOUT
	*************************/

	.profile-photo {
		float: left;
		margin: 0 5% 100px 0;
	}
}


@media screen and (min-width: 660px) {
	
	/*************************
	HEADER
	*************************/

	nav {
		background: none;
		float: center;
		font-size: 2.5em;
		text-align: center;
		width: 100%;
	}

	#logo {
		margin-left: 5%;
		text-align: center;
		width: 45%;
	}

	h1 {
		font-size: 12.5em;
	}

	h2 {
		font-size: 2.5em;
		margin-bottom: 20px;
	}

	header {
		border-bottom: ;
		margin-bottom: 60px;
	}



}